@font-face {
  font-family: 'NanumSquareNeo';
  src: url('assets/font/NanumSquareNeo.otf') format('opentype'),
       url('assets/font/NanumSquareNeo.ttf') format('truetype');
}

body {
  font-family: 'NanumSquareNeo', Arial, sans-serif;
}
